<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}"/>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <center><h1> Notes </h1></center>
    {% include 'navbar.html' %}
    <table>
      <tr>
        <b>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
        </b>
      </tr>
      <!-- TODO loop from Friend model -->
		    {% for note in notes %}
            <tr>
			    <td>{{note.to}}</td>
                <td>{{note.from_text}}</td>
                <td>{{note.title}}</td>
                <td>{{note.message}}</td>
            </tr>
		    {% endfor %}
    </table>

    {% include 'footer.html' %}
  </body>
</html>