<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}"/>
  <head>
    <meta charset="UTF-8" />
    <center><title>Note</title></center>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Write a note</h1>
    <div id = "form">
    <form action="" method="POST">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <button type="submit" value="Submit">Send</button>  
    </div>
    {% include 'footer.html' %}
  </body>
</html>