<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/notelist_style.css' %}"/>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <body>
    <h1> Note Cards </h1>
    {% include 'navbar.html' %}
      <!-- TODO loop from Friend model -->
      <div id="box">
		    {% for note in notes %}
            <div class="card">
			    <p><b>To </b>: {{note.to}}</p>
                <p><b>From</b> : {{note.from_text}}</p>
                <p><b>Title</b> : {{note.title}}</p>
                <p>{{note.message}}</p>
            </div>
		    {% endfor %}
        </div>

    {% include 'footer.html' %}
  </body>
</html>