<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend Form</title>
  </head>
  <body>
      <h1>Add Friend</h1>
    <form action="" method="POST">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <button type="submit" value="Submit">Submit</button>  
  </body>
</html>
