body {
    background-color: #f9dac5 !important;
    font­-family: Helvetica;
    font­-size: 0.8em;
}  

h1{
    color : #d11802;
    left:35%;
    position : absolute;
    margin-top : -20px;
    font-family : brush script mt;
    font-size : 120px;
    letter-spacing : -1px;
    text-shadow: 2px 2px #f3824b;
    -webkit-text-stroke: 1px #f3824b;
}

#form{
    top : 30px;
    margin : auto;
    color : #f9dac5;
    letter-spacing : 1px;
    font-family : Helvetica;
    font-size : 10px;
    text-transform : uppercase;
    font-weight : bold;
    background-color : #d11802; 
    width : 500px;
    text-align : center;
    padding : 10px;
    margin-top : 100px;
    height : auto;
}

input[type=text]{
    background-color : #f3824b;
    width: 100%;
    font-family : Helvetica;
    font-size : 10px;
    padding: 5px 5px;
    border-radius: 4px;
    border: 1px solid red;
    margin: 8px 0;
    box-sizing: border-box;
}

button{
    background-color : #f9dac5;
    padding : 5px;
    font-family : helvetica;
    font-size : 10px;
    text-transform : uppercase;
    font-weight : bold;
    border : 1px solid red;
    color : #d11802;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 4px;
    background-color: #f3824b;
    resize: none;
  }