body {
    background-color: #f9dac5 !important;
    font­-family: Helvetica;
    font­-size: 12px;
}  

h1{
    margin : auto;
    color : #d11802;
    font-family : brush script mt;
    font-size : 150px;
    text-shadow: 2px 2px #f3824b;
    -webkit-text-stroke: 1px #f3824b;
}

table{
    width : 1000px;
    margin : auto;
    padding : 0px;
    color : #421006;
    border-collapse : collapse;
}

th{
    text-transform : uppercase;
    font-size : 11px;
    color : #f9dac5;
    background-color : #d11802;
    letter-spacing: 2px;
    font-family : Helvetica;
    padding : 10px;
    font-weight: bold;
}

td {
    color : #d11802;
    padding : 5px;
    text-transform : lowercase;
    text-align : center;
    font-size : 12px;
    font-family : Helvetica;
    margin-top : -10px;
    background-color : #f3824b;
    border: 0.5px solid #f9dac5;
}