body {
    background-color: #f9dac5 !important;
    font­-family: Helvetica;
    font­-size: 0.8em;
}

h1{
    margin-bottom:-15px;
    top : -15px;
    position : relative;
    color : #d11802;
    text-align : center;
    font-family : brush script mt;
    font-size : 120px;
    letter-spacing : -1px;
    text-shadow: 2px 2px #f3824b;
    -webkit-text-stroke: 1px #f3824b;
}

b{
    color : #d11802; 
}

#box{
    place-items : center;
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(200px,1fr));
    grid-gap : 10px;
}

.card {
    position : relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width : 200px;
    font-family : helvetica;
    font-size : 12px;
    text-transform : uppercase;
    height : 200px;
    background-color : white;
    padding : 10px;
    border-radius: 5px; /* 5px rounded corners */
}